<!DOCTYPE html>
<html>
    <head>
		<script type="text/javascript">
				function validateForm()
				{
					var x=document.forms["individual"]["dti"].value;
					var y = parseInt( x  ,  10  )
					var i=40;
					if (y>i)
						{
							alert("dti should be less than or equal to 40");
							return false;
						}
				}
		</script>
        
		<meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Loan Status Predictor</title>
			<link rel="stylesheet" href="{{url_for('static', filename='css/sample.css')}}">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    </head>
    
	<body>
        <section class="header">
        <nav>
            <a href="/">
			<img src="{{url_for('static', filename='images/logo.png')}}" style="width: 100px;height: 100px;">
            
            </a>
            <div class="nav-links">
            <ul>
                <li><a href="/" >HOME</a></li>
                <li><a href="loanpred" >LOAN PREDICTION</a> </li>
                <li><a href="individual" >INDIVIDUAL LOAN</a> </li>
                <li><a href="joint" >JOINT LOAN</a> </li>
                </ul></div>
            </nav>
       <div class="inputform">
    <div class="title">Give your details-Individual Loan</div>
    <div class="content">
        <form id="individual" action="/individual"method="post" style=”margin-right:5px”>

        <div class="user-details">
          <div class="input-box">
            <span class="details">Annual Income</span>
            <input type="decimal" placeholder="Enter your annual income" id="Annual_income" name="Annual_income" required>
          </div>
          <div class="input-box">
            <span class="details">dti</span>
            <input type="decimal" placeholder="Enter your dti" id="dti" name="dti" min="0" max="40" required>
			
			
          </div>  
          <div class="input-box">
            <span class="details">Fico score</span>
            <input type="number" placeholder="Enter your fico score" id="Fico_score" name="Fico_score" required>
          </div>
         
          <div class="input-box">
            <span class="details">loan amount</span>
            <input type="number" placeholder="Enter your loan amount" id="loan_amount" name="loan_amount" required>
          </div>
          <div class="input-box">
            <span class="details">Earliest credit line</span>
            <input type="date" placeholder="Enter earliest credit line" id="earliest_credit_line" name="earliest_credit_line" required>
          </div>
          <div class="input-box">
            <span class="details">MORTGAGE account</span>
            <input type="number" placeholder="enter number of mortage accounts" id="mort_account" name="mort_account" required>
          </div>
          <div class="input-box">
            <span class="details">zipcode</span>
            <input type="number" placeholder="Enter your zipcode" id="Zip_code" name="Zip_code" maxlength="2" required>
          </div>
          <div class="input-box">
            <span class="details">open account</span>
            <input type="number" placeholder="Enter your open account" id="open_account" name="open_account" required>
          </div>
          <div class="input-box">
            <span class="details">total account</span>
            <input type="number" placeholder="Enter your total account" id="total_account" name="total_account" required>
          </div>
          <div class="input-box">
            <span class="details">Revol Util</span>
            <input type="decimal" placeholder="Enter your revol util" id="revol_util" name="revol_util" required>
          </div>
          <div class="input-box">
            <span class="details">Verification status</span>
            <input  list="verification_status" name="verification_status" placeholder="Enter verification status" required>
           <datalist id="verification_status">
           <option value="Source Verified">
           <option value="Verified">
           <option value="Not Verified">    
            </datalist>
          </div>
          <div class="input-box">
              <span class="details">Home Ownership</span>
          <input list="home_ownership" name="home_ownership" placeholder="home ownership" required>
          <datalist id="home_ownership">
           <option value="MORTGAGE">
           <option value="RENT">
           <option value="OWN">
           <option value="ANY">
            <option value="OTHER">
            <option value="NONE">
        </datalist>
        </div>
        <div class="input-box">
              <span class="details">Term</span>
          <input  list="term" name="term" placeholder="term" required>
          <datalist id="term">
           <option value=36>
           <option value=60>
        </datalist>
        </div>
        </div>
        <div class="button">
          <input type="submit" value="Predict">
        </div>
        </form>
  </div>
 </div>
                                 <div class="container"><h3><font color="white">{{pred}}</h3><br>
											<h4>	{{apr}}<br>
												{{emi}}<br>
												{{cr_ratio}}<br>
												{{inst_ratio}}<br>
												{{cr_hist}}<br>
												{{ln_risk}}<br>
								</h4> </font>	
</div>
        
         </section>
    </body>
</html>